$primary: #091d9e;
$secondary: #750dc5;
$hover: #bcc5ff;
$green: #169b00;
$red: #f34232;
$yellow: #ebba1a;

$grey: #454545;
$inputgrey: #dedede;
$lightgrey: #c1c1c1;
$dark: #0c0c0c;
$darkbg: #222222;
$darkmd: #2d2d2d;
$white: #f6f6f6;
