:root {
  --primary: #091D9E;
  --secondary: #750DC5;
  --hover: #BCC5FF;
  --green: #169B00;
  --red: #f34232;

  --grey: #454545;
  --inputgrey: #DEDEDE;
  --lightgrey: #C1C1C1;
  --dark: #0C0C0C;
  --darkbg: #222222;
  --darkmd: #2d2d2d;
  --white: #f6f6f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Disket-Mono-Regular, sans-serif;
  font-family: Roboto, sans-serif;
  background-color: var(--white);
}

body.dark_mode {
  background-color: var(--darkbg);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/*button svg dark mode*/
button.active svg {
  fill: (var(--darkmd))
}

button.active svg {
  stroke: (var(--darkmd))
}

.catalog_catalog__mode__icon_wrapper__btn__TPa0n.catalog_dark_mode__bGGxf.active svg {
  fill: var(--white);
  stroke: var(--white);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:disabled {
  background-color: var(--grey);
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--hover)
}

.button:disabled:hover {
  background-color: var(--grey)
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Light.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Disket-Mono;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Disket-Mono-Regular.woff) format("woff");
}

.main {
  height: 100vh;
}


/* slider */
.slick-track .catalogItem_catalog_item__wrapper__image_wrapper__infoblock__new__MSWbr {
  display: none;
}

.slick-slide .catalogItem_catalog_item__wrapper__btn__yu0Ck {
  display: none;
}

.slick-next,
.slick-prev {
  scale: 1.8;

  @media (max-width: 770px) {
    scale: 1;
  }
}

.slick-next {
  right: 32px;

  @media (max-width: 770px) {
    right: 10px;
  }
}

.slick-prev {
  left: 32px;

  @media (max-width: 770px) {
    left: 10px;
  }
}

.dashboard_dashboard__catalog_slider__Ml1Fx .slick-next,
.dashboard_dashboard__catalog_slider__Ml1Fx .slick-prev {
  scale: 1.8;

  @media (max-width: 770px) {
    scale: 1.6;
  }
}

.dashboard_dashboard__catalog_slider__Ml1Fx .slick-next {
  @media (max-width: 770px) {
    right: 35px;
  }
}

.dashboard_dashboard__catalog_slider__Ml1Fx .slick-prev {
  @media (max-width: 770px) {
    left: 35px;
  }
}

/*pagination*/
.selected a {
  background-color: var(--primary);
  color: var(--white);
}

/*404*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.flex-container .text-center {
  text-align: center;
}

.flex-container .text-center h1,
.flex-container .text-center h3 {
  margin: 10px;
  cursor: default;
}

.flex-container .text-center h1 .fade-in,
.flex-container .text-center h3 .fade-in {
  animation: fadeIn 2s ease infinite;
}

.flex-container .text-center h1 {
  font-size: 8em;
  transition: font-size 200ms ease-in-out;
  border-bottom: 1px dashed white;
}

.flex-container .text-center h1 span#digit1 {
  animation-delay: 200ms;
}

.flex-container .text-center h1 span#digit2 {
  animation-delay: 300ms;
}

.flex-container .text-center h1 span#digit3 {
  animation-delay: 400ms;
}

.flex-container .text-center button {
  border: 1px solid white;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: background-color 200ms ease-in;
  margin: 20px 0;
}

.flex-container .text-center button:hover {
  background-color: white;
  color: #555;
  cursor: pointer;
}

@keyframes colorSlide {
  0% {
    background-color: #152a68;
  }

  25% {
    background-color: royalblue;
  }

  50% {
    background-color: seagreen;
  }

  75% {
    background-color: tomato;
  }

  100% {
    background-color: #152a68;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
